body {
  margin: 20px 20px 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../Images/wood\ 1.jpg');
  background-size: cover;
}

.home_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.home_btn {
        cursor: pointer;
        border: 2px solid #808080;
        background-color: transparent;
        height: 50px;
        width: 100px;
        color: #899499;
        font-size: 18px;
}

.gif {
    transition: transform 250ms, opacity 400ms;
    padding-left: 25%;
    padding-right: 5%;
}
    .gif:hover {
        opacity:80%;
        transform: scale(0.99);
        content: url("https://media4.giphy.com/media/d8tkB4uvd7v2o95bfK/giphy.gif?cid=ecf05e471oj57bk78emlyjfbs9a01koflv4rjraj7xilc53n&ep=v1_stickers_search&rid=giphy.gif&ct=s");
    }

.circular {
    transition: transform 1s;
    border-radius: 100%;
    transition: transform 250ms, opacity 400ms;
}
    .circular:hover {
        transform: scale(0.99);
        border-radius: 100%;
        content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg50r4DXUGuo7MFKuF-kXt2ujvKN5sLfjuuLcihKoIKw&s");
    }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.container{
    margin-left: 33%;
    margin-right: 25%;

}
h1{
  color: #2d6187;
}
h3{
  color: #2d6187;
}

.vertical-center {
    width: max-content;
  align-items: center;
}

.progressPhotography {
    position: relative;
    height: 15px;
    width: 200px;
    border: 1px solid #48C9B0;
    border-radius: 3px;
}
    .progressPhotography .colorPhotography {
        position: relative;
        background-color: #9BABB8;
        width: 0px;
        height: 13px;
        border-radius: 1px;
        border-end-end-radius: 700px;
        /* border-bottom-right-radius: 30px; */
        animation: fill 3s;
        animation-fill-mode: forwards;
        animation-delay: 1ms;
    }

@keyframes fill{
    100% {
        width: 85%;
        background-color: #159895;
        border-end-end-radius: 0%;
    }
  }


.progressIllustrator {
    position: relative;
    height: 15px;
    width: 200px;
    border: 1px solid #48C9B0;
    border-radius: 3px;
}

    .progressIllustrator .colorIllustrator {
        position: relative;
        background-color: #9BABB8;
        width: 0px;
        height: 13px;
        border-radius: 1px;
        border-end-end-radius: 700px;
        /* border-bottom-right-radius: 30px; */
        animation: fill1 3s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }

@keyframes fill1 {
    100% {
        width: 70%;
        background-color: #ff7c00;
        border-end-end-radius: 0%;
    }
}

.progressProgramming {
    position: relative;
    height: 15px;
    width: 200px;
    border: 1px solid #48C9B0;
    border-radius: 3px;
}
    .progressProgramming .colorProgramming {
        position: relative;
        background-color: #9BABB8;
        width: 0px;
        height: 13px;
        border-radius: 1px;
        border-end-end-radius: 700px;
        animation: fill2 3s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }

@keyframes fill2{
    100% {
        width: 60%;
        background-color: rgb(95, 126, 218);
        border-end-end-radius: 0%;
    }
  }

.progressModelling {
    position: relative;
    height: 15px;
    width: 200px;
    border: 1px solid #48C9B0;
    border-radius: 3px;
}
    .progressModelling .colorModelling {
        position: relative;
        background-color: #9BABB8;
        width: 0px;
        height: 13px;
        border-radius: 1px;
        border-end-end-radius: 700px;
        animation: fill3 3s;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }

@keyframes fill3{
    100% {
        width: 30%;
        background-color: black;
        border-end-end-radius: 0%;
    }
  }

.progressBlender {
    position: relative;
    height: 15px;
    width: 200px;
    border: 1px solid #48C9B0;
    border-radius: 3px;
}

    .progressBlender .colorBlender {
        position: relative;
        background-color: #9BABB8;
        width: 0px;
        height: 13px;
        border-radius: 1px;
        border-end-end-radius: 700px;
        animation: fill4 3s;
        animation-fill-mode: forwards;
        animation-delay: 4s;
    }

@keyframes fill4 {
    100% {
        width: 40%;
        background-color: #265787;
        border-end-end-radius: 0%;
    }
}

.navibar  {
    padding: 8px;
    background-color: #dddddd80;
    border-radius: 5px;
  }

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.navili {
    float: left;
    padding: 8px;
    opacity: 100%;
  }
 .navili :hover{
    filter: blur(1px);

 }

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 5s;        /* Change to speed up or slow down */
    animation-iteration-count: initial;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    animation-fill-mode: forwards;
  }
  
  @keyframes wave-animation {
      0% { opacity: 0%;}
     50% { opacity: 100%;}
     51% { transform: rotate( 0.0deg) }
     60% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     65% { transform: rotate(-8.0deg) }
     70% { transform: rotate(14.0deg) }
     75% { transform: rotate(-4.0deg) }
     80% { transform: rotate(10.0deg) }
     85% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
     90% { opacity: 100%;}
     100%{ opacity: 0%;}
  }


  .section {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    will-change: transform, contents;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section:nth-child(1) {
    top: 0;
    left: 0;
    background: #f06060;
}
.section:nth-child(2) {
    top: 0;
    left: 50%;
    background: #fa987d;
}
.section:nth-child(3) {
    top: 50%;
    left: 0;
    background: #72cca7;
}
.section:nth-child(4) {
    top: 50%;
    left: 50%;
    background: #10a296;
}
.section.is-expanded {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    cursor: initial;
}
.has-expanded-item .section:not(.is-expanded) {
    transform: scale(0);
}
.close-section {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 150ms linear;
    will-change: opacity;
}
.section.is-expanded .close-section {
    opacity: 1;
    transition-delay: 500ms;
    pointer-events: initial;
}
* {
    box-sizing: border-box;
}
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.demo-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
