body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("https://www.imageshine.in/uploads/gallery/White-paper-texture-for-Projects.jpg");
}

.circular{
    border-radius:100%;
    transition: 1s;
    opacity: 100%;
}
.circular:hover{
  border-radius:100%;
  content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg50r4DXUGuo7MFKuF-kXt2ujvKN5sLfjuuLcihKoIKw&s");
  opacity: 50%;
  
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}

h1{
  color: #2d6187;
}
h3{
  color: #2d6187;
}


.progressPhotography{
  position: relative;
  height: 15px;
  width: 200px;
  border: 3px solid #f4a261;
  border-radius: 3px;
}
.progressPhotography .colorPhotography{
  position: relative;
  background-color: black;
  width: 0px;
  height: 15px;
  border-end-end-radius: 700px;
  /* border-bottom-right-radius: 30px; */
  animation: fill 3s;
  animation-fill-mode: forwards;
  animation-delay: 1ms;
}

@keyframes fill{
  100%{
      width: 85%; background-color: greenyellow;
      border-radius: 0px;
  }
  }

  .progressCoding {
  position: relative;
  height: 15px;
  width: 200px;
  border: 3px solid #f4a261;
  border-radius: 3px;
}
.progressCoding .colorCoding {
  position: relative;
  background-color: black;
  width: 0px;
  height: 15px;
  border-end-end-radius: 700px;
  animation: fill1 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fill1{
  100%{
      width: 60%; background-color: rgb(95, 126, 218);
      border-radius: 0%;
  }
  }

  .progressModelling {
  position: relative;
  height: 15px;
  width: 200px;
  border: 3px solid #f4a261;
  border-radius: 3px;
}
.progressModelling .colorModelling {
  position: relative;
  background-color: black;
  width: 0px;
  height: 15px;
  border-end-end-radius: 700px;
  animation: fill2 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes fill2{
  100%{
      width: 30%; background-color: rosybrown;
      border-radius: 0%;

  }
  }